/*font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


#mh1{
	padding: 10px, 0, 20px, 10px;
  font-weight: bold;
  font-size: 24px;
}

div#h1{
	padding: 12px 0 18px 25px;
}

/*Nav bar*/

nav {
  background-color: #fff;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo a {
  color: #ff0000;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}

.logo a span {
  color: #000000;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  display: block;
  padding: 10px 15px;
  border-radius: 25px;
  color: #000000;
  text-decoration: none;
  border: 3px solid #000000;
  transition: all 0.3s ease;
}

.menu a:hover {
  color: #ff0000;
  border-color: #ff0000;
  margin: -1px;
}

.menu a.signup {
  background-color: #16A085;
  color: #fff;
  border-color: #16A085;
}

.menu a.signup:hover {
  color: #16A085;
  background-color: #fff;
}

.menu a.active{
  background-color:  #ff0000;
  color: #ffffff;
  border-color:  #ff0000;
}



/*Mobile Nav Bar*/

.mtopnav {
  overflow: hidden;
  position: relative;
}

.mtopnav #myLinks {
  display: none;
  background-color: black;
  color: #ffffff;
  text-align: center;
}

.mtopnav a {
  padding: 14px 20px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}

.mtopnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.mtopnav #myLinks.a:hover {
  background-color: #ddd;
  color: black;
}


/*	content*/

#cs{
	text-align: center;
	font-size: 30px;
	margin: 30vh 0;
	font-family: Roboto;
  font-style: italic;
}


/*pricing*/

.pricing-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 10vh 0;
}

.pricing-column {
  width: 300px;
  margin: 1px 10px;
}


.pricing-column:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.pricing-table {
  list-style-type: none;
  margin: 10 vh;
  padding: 0;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

.pricing-table .pricing-header {
  background-color: #212F3D;
  color: white;
  font-size: 35px;
  padding: 20px;
}

.pricing-table .pricing-price {
  font-size: 30px;
  margin: 20px 0;
  font-family: Quicksand;
}

.pricing-table .pricing-feature {
  font-size: 18px;
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-family: 'Roboto Mono';
}

.pricing-table .pricing-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pricing-table a.button {
  background-color: #3498DB;
  border-radius: 25px;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .pricing-container {
    flex-direction: column;
    align-items: center;
  }
  
  .pricing-column {
    width: 100%;
    margin: 10px 0;
  }
}






/* footer*/

.footer {
  background: #111111;
  color: white;
  text-align: center;
  padding: 8vh 20vw;
  border-top: 2px solid #333333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-family: Arial, sans-serif;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: #ffffff;
  transition: all 0.3s ease;
  margin-bottom: 0.5rem;
}

.footer-links a:hover {
  color: #ff0000;
  border-bottom: 1px dotted #ff0000;
}

.footer p {
  margin-top: 30px;
}
